HOST=hydroponic-backend-alb-1973402541.us-east-1.elb.amazonaws.com
API_BASE_URL=http://hydroponic-backend-alb-1973402541.us-east-1.elb.amazonaws.com
WATER_BASE_URL=http://hydroponic-backend-alb-1973402541.us-east-1.elb.amazonaws.com:8003
ML_BASE_URL=http://hydroponic-backend-alb-1973402541.us-east-1.elb.amazonaws.com:8004
SPOILAGE_BASE_URL=http://hydroponic-backend-alb-1973402541.us-east-1.elb.amazonaws.com:8002
DEVICE_BASE_URL=http://hydroponic-backend-alb-1973402541.us-east-1.elb.amazonaws.com:8010
DISEASE_API_URL=http://hydroponic-backend-alb-1973402541.us-east-1.elb.amazonaws.com:8001
LEAF_HEALTH_BASE_URL=http://hydroponic-backend-alb-1973402541.us-east-1.elb.amazonaws.com:8001
